@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
div{
    width: 375px;
    height: 500px;
    background-color: hsl(179, 100%, 13%);
    margin: 40px;
    border-radius: 20px;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    font-weight: 400;
    text-align: justify;
    font-size: 15px;
    
}

h1{
    color: hsl(0, 0%, 95%);
    font-family: Big Shoulders Display;
    font-weight: 700;
}
.Margin{
    margin: 50px;
}
input[type=submit]{
    color: hsl(179, 100%, 13%);
    margin: 20px 20px 40px 40px;
    background-color: hsl(0, 0%, 95%);
    width: 140px;
    height: 60px;
    border-radius: 50px;
}
img{
    margin: 20px 20px 10px 40px;
}

